<html ng-app = 'myApp'>
    <head></head>
    <link href ="/assets/css/style.css" type="text/css" rel="stylesheet"/>
    <script src='https://code.jquery.com/jquery-1.11.3.min.js'/></script>
    <script src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js'>
    </script>
    <body ng-controller='MainController as vm'>
        <header class='header'>
            <div class = 'header__text-box'>
                <h1 class ='heading-primary'>
                    <span class = 'heading-primary--main'> TAROT</span>
                    <span class = 'heading-primary--sub'> is what life's meaning</span>
                </h1>
                <a href = '#section-major-tarots' class = 'btn btn--white btn-animiated'> MAJOR ARCANA</a>
        </div>
        </header>
        <section class = 'section-features'>
            <div class = 'row'>
                    <div ng-repeat="type in vm.cardTypes.slice(1, 5);" class = 'col-1-of-4' ng-click="vm.go_href(type)">
                        <div class = 'feature-box'>
                            <img src="/assets/img/main/{{type}}.svg" width='50%'/>
                            <h3 class = 'heading-tertiary u-margin-bottom-small'> {{type}} </h3>
                        </div>
                    </div>
            </div>
        </section>

        <section class = 'section-tarots' id='section-major-tarots'>
            <div class = 'u-center-text u-margin-bottom-big'>
                <h2 class = 'heading-secondary'>
                    MAJOR ARCANA
                </h2>
            </div>
            <div class = 'row' ng-repeat = 'k in vm.range(vm.rowMajorArrayLen) track by $index'>
                <div class = 'col-1-of-4' ng-repeat='card in vm.cardsMajors.slice(4*$index, 4*$index+4);'>
                    <div class = 'card'>
                        <div class = 'card__side card__side--front'>
                            <div class = 'card__picture card__picture--{{card.title}} '>
                                &nbsp;
                            </div>
                            <h4 class = 'card__heading'>
                                <span class = 'card__heading-span card__heading-span--{{$index + 1}}'>
                                    {{card.name}}
                                </span>
                            </h4>
                        </div>
                        <div class = 'card__side card__side--back card__side--back-{{$index + 1}}'>
                            <div class = 'card__picture card__picture--{{card.title}}--back'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'u-center-text u-margin-top-huge'>
                <a href='#' class='btn btn--green'>Back to Up</a>
            </div>
        </section>

        <section class = 'section-tarots' id='section-wand'>
            <div class = 'u-center-text u-margin-bottom-big'>
                <h2 class = 'heading-secondary'>
                    wands
                </h2>
            </div>
            <div class = 'row' ng-repeat = 'k in vm.range(vm.rowOtherArrayLen) track by $index'>
                <div class = 'col-1-of-4' ng-repeat='card in vm.cardsWands.slice(4*$index, 4*$index+4);'>
                    <div class = 'card'>
                        <div class = 'card__side card__side--front'>
                            <div class = 'card__picture card__picture--{{card.title}} '>
                                &nbsp;
                            </div>
                            <h4 class = 'card__heading'>
                                <span class = 'card__heading-span card__heading-span--{{$index + 1}}'>
                                    {{card.name}}
                                </span>
                            </h4>
                        </div>
                        <div class = 'card__side card__side--back card__side--back-{{$index + 1}}'>
                            <div class = 'card__picture card__picture--{{card.title}}--back'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'u-center-text u-margin-top-huge'>
                <a href='#' class='btn btn--green'>Back to Up</a>
            </div>
        </section>

        <section class = 'section-tarots' id='section-cup'>
            <div class = 'u-center-text u-margin-bottom-big'>
                <h2 class = 'heading-secondary'>
                    cup
                </h2>
            </div>
            <div class = 'row' ng-repeat = 'k in vm.range(vm.rowOtherArrayLen) track by $index'>
                <div class = 'col-1-of-4' ng-repeat='card in vm.cardsCups.slice(4*$index, 4*$index+4);'>
                    <div class = 'card'>
                        <div class = 'card__side card__side--front'>
                            <div class = 'card__picture card__picture--{{card.title}} '>
                                &nbsp;
                            </div>
                            <h4 class = 'card__heading'>
                                <span class = 'card__heading-span card__heading-span--{{$index + 1}}'>
                                    {{card.name}}
                                </span>
                            </h4>
                        </div>
                        <div class = 'card__side card__side--back card__side--back-{{$index + 1}}'>
                            <div class = 'card__picture card__picture--{{card.title}}--back'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'u-center-text u-margin-top-huge'>
                <a href='#' class='btn btn--green'>Back to Up</a>
            </div>
        </section>

        <section class = 'section-tarots' id='section-sword'>
            <div class = 'u-center-text u-margin-bottom-big'>
                <h2 class = 'heading-secondary'>
                    sword
                </h2>
            </div>
            <div class = 'row' ng-repeat = 'k in vm.range(vm.rowOtherArrayLen) track by $index'>
                <div class = 'col-1-of-4' ng-repeat='card in vm.cardsSwords.slice(4*$index, 4*$index+4);'>
                    <div class = 'card'>
                        <div class = 'card__side card__side--front'>
                            <div class = 'card__picture card__picture--{{card.title}} '>
                                &nbsp;
                            </div>
                            <h4 class = 'card__heading'>
                                <span class = 'card__heading-span card__heading-span--{{$index + 1}}'>
                                    {{card.name}}
                                </span>
                            </h4>
                        </div>
                        <div class = 'card__side card__side--back card__side--back-{{$index + 1}}'>
                            <div class = 'card__picture card__picture--{{card.title}}--back'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'u-center-text u-margin-top-huge'>
                <a href='#' class='btn btn--green'>Back to Up</a>
            </div>
        </section>

        <section class = 'section-tarots' id='section-pentacles'>
            <div class = 'u-center-text u-margin-bottom-big'>
                <h2 class = 'heading-secondary'>
                    pentacles
                </h2>
            </div>
            <div class = 'row' ng-repeat = 'k in vm.range(vm.rowOtherArrayLen) track by $index'>
                <div class = 'col-1-of-4' ng-repeat='card in vm.cardsPentacless.slice(4*$index, 4*$index+4);'>
                    <div class = 'card'>
                        <div class = 'card__side card__side--front'>
                            <div class = 'card__picture card__picture--{{card.title}} '>
                                &nbsp;
                            </div>
                            <h4 class = 'card__heading'>
                                <span class = 'card__heading-span card__heading-span--{{$index + 1}}'>
                                    {{card.name}}
                                </span>
                            </h4>
                        </div>
                        <div class = 'card__side card__side--back card__side--back-{{$index + 1}}'>
                            <div class = 'card__picture card__picture--{{card.title}}--back'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'u-center-text u-margin-top-huge'>
                <a href='#' class='btn btn--green'>Back to Up</a>
            </div>
        </section>
        <script>
            var clientCardMajors = <%- JSON.stringify(serverCardMajors)%>;
            var clientCardWands = <%- JSON.stringify(serverCardWands)%>;
            var clientCardCups = <%- JSON.stringify(serverCardCups)%>;
            var clientCardSwords = <%- JSON.stringify(serverCardSwords)%>;
            var clientCardPentacless = <%- JSON.stringify(serverCardPentacless)%>;
            var clientCardTypes = <%- JSON.stringify(serverCardTypes)%>;
        </script>
        <script src='/assets/js/tarot.js'></script>
        <section>
            <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </section>
    </body>
</html>
